h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-size: 20px;
    text-align: center;
}

.btn {
    margin: 5px;
}

.card-img-top {
    object-fit: cover;
    width: 198px;
    height: 100px;
}

.card {
    float: left;
}